Repository jaceksan/gooddata-data-pipeline: changes, and which GitLab CI jobs are due for each by the changed paths.
All: extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Path conditions:
  extract_load_dev: any of: extract_load/**/*, .gitlab-ci.yml
  dbt_dev: any of: extract_load/**/*, data_transformation/**/*, .gitlab-ci.yml
  gooddata_dev: any of: data_transformation/**/*, analytics/**/*, .gitlab-ci.yml
  extract_load_staging: any of: extract_load/**/*, .gitlab-ci.yml
  dbt_staging: any of: extract_load/**/*, data_transformation/**/*, .gitlab-ci.yml
  gooddata_staging: any of: data_transformation/**/*, analytics/**/*, .gitlab-ci.yml
  extract_load_prod: any of: extract_load/**/*, .gitlab-ci.yml
  dbt_prod: any of: extract_load/**/*, data_transformation/**/*, .gitlab-ci.yml
  gooddata_prod: any of: analytics/**/*, .gitlab-ci.yml

Polish README
  README.md
Due: none

Local docker-compose
  analytics/config.py
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/date_instances/closed_at.yaml
  analytics/gooddata_load_metadata.py
  analytics/gooddata_register_data_source.py
  analytics/gooddata_store_metadata.py
  analytics/gooddata_tests.py
  analytics/gooddata_upload_notification.py
  docker-compose.yaml
  fixtures/postgres/00_create_db_schema.sql
Due: gooddata_dev, gooddata_staging, gooddata_prod

Fix analytics hours->days to solve
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/analytical_dashboards/github_overview.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/days_to_solve_prs_week.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/number_of_solved_prs_user.yaml
Due: gooddata_dev, gooddata_staging, gooddata_prod

Declare all columns in schema.yml files
  README.md
  data_transformation/models/commits/schema.yml
  data_transformation/models/pull_requests/schema.yml
  data_transformation/models/users/schema.yml
  data_transformation/packages.yml
Due: dbt_dev, gooddata_dev, dbt_staging, gooddata_staging, dbt_prod

Add repos table, extract JSON fields in separate steps
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/analytical_dashboards/github_overview.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/filter_contexts/simple_filter_context.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/hours_to_solve_prs_week.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/longest_unsolved_prs.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/datasets/commits.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/datasets/pull_requests.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/datasets/users.yaml
  data_transformation/dbt_project.yml
  data_transformation/models/commits/commits.sql
  data_transformation/models/commits/commits_extract_json.sql
  data_transformation/models/commits/schema.yml
  data_transformation/models/pull_requests/pull_requests.sql
  data_transformation/models/pull_requests/pull_requests_extract_json.sql
  data_transformation/models/pull_requests/schema.yml
  data_transformation/models/repos/repos.sql
  data_transformation/models/repos/schema.yml
  data_transformation/models/users/users.sql
  extract_load/config.yaml
Due: extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

generate pdm and ldm from dbt models
  analytics/args.py
  analytics/dbt/__init__.py
  analytics/dbt/model.py
  analytics/gooddata_load_metadata.py
  analytics/gooddata_register_data_source.py
  data_transformation/models/commits/schema.yml
  data_transformation/models/pull_requests/schema.yml
  data_transformation/models/repos/schema.yml
  data_transformation/models/users/schema.yml
Due: dbt_dev, gooddata_dev, dbt_staging, gooddata_staging, dbt_prod, gooddata_prod

Improve performance of dbt model
  data_transformation/models/commits/commits_extract_json.sql
  data_transformation/models/pull_requests/pull_requests_extract_json.sql
  data_transformation/models/repos/repos.sql
  data_transformation/models/repos/repos_extract_json.sql
  data_transformation/models/users/users.sql
Due: dbt_dev, gooddata_dev, dbt_staging, gooddata_staging, dbt_prod

Fix entities IDs in analytics dashboard fixture
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/analytical_dashboards/github_overview.yaml
Due: gooddata_dev, gooddata_staging, gooddata_prod

Delete no loger needed LDM fixtures
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/datasets/commits.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/datasets/pull_requests.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/datasets/repos.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/datasets/users.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/date_instances/closed_at.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/date_instances/created_at.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/date_instances/merged_at.yaml
Due: gooddata_dev, gooddata_staging, gooddata_prod

Load analytics from static folder
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/analytical_dashboards/github_overview.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/filter_contexts/simple_filter_context.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/created_commits_month.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/days_to_solve_prs_week.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/longest_unsolved_prs.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/merged_prs_month.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/number_of_solved_prs_user.yaml
  analytics/gooddata_load_metadata.py
Due: gooddata_dev, gooddata_staging, gooddata_prod

dbt-gooddata plugin
  .gitignore
  .gitlab-ci.yml
  analytics/args.py
  analytics/config.py
  analytics/config.yaml
  analytics/gooddata_layouts/analytics_model/analytical_dashboards/github_overview.yaml
  analytics/gooddata_layouts/analytics_model/filter_contexts/simple_filter_context.yaml
  analytics/gooddata_layouts/analytics_model/visualization_objects/created_commits_month.yaml
  analytics/gooddata_layouts/analytics_model/visualization_objects/days_to_solve_prs_week.yaml
  analytics/gooddata_layouts/analytics_model/visualization_objects/longest_unsolved_prs.yaml
  analytics/gooddata_layouts/analytics_model/visualization_objects/merged_prs_month.yaml
  analytics/gooddata_layouts/analytics_model/visualization_objects/number_of_solved_prs_user.yaml
  analytics/gooddata_load_metadata.py
  analytics/gooddata_register_data_source.py
  analytics/gooddata_store_metadata.py
  analytics/gooddata_tests.py
  analytics/gooddata_upload_notification.py
  analytics/logger.py
  analytics/sdk_wrapper.py
  data_transformation/dbt-gooddata/README.md
  data_transformation/dbt-gooddata/VERSION
  data_transformation/dbt-gooddata/bin/dbt-gooddata
  data_transformation/dbt-gooddata/dbt_gooddata/__init__.py
  data_transformation/dbt-gooddata/dbt_gooddata/args.py
  data_transformation/dbt-gooddata/dbt_gooddata/dbt/__init__.py
  data_transformation/dbt-gooddata/dbt_gooddata/dbt/base.py
  data_transformation/dbt-gooddata/dbt_gooddata/dbt/models.py
  data_transformation/dbt-gooddata/dbt_gooddata/dbt/profiles.py
  data_transformation/dbt-gooddata/dbt_gooddata/dbt_gooddata.py
  data_transformation/dbt-gooddata/dbt_gooddata/logger.py
  data_transformation/dbt-gooddata/dbt_gooddata/sdk_wrapper.py
  data_transformation/dbt-gooddata/requirements.txt
  data_transformation/dbt-gooddata/setup.py
  data_transformation/profile/profiles.yml
  data_transformation/requirements.txt
Due: extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Fix schema setup in dbt
  data_transformation/dbt_project.yml
  data_transformation/models/repos/repos_extract_json.sql
Due: dbt_dev, gooddata_dev, dbt_staging, gooddata_staging, dbt_prod

Move extract/load in data_transformation
  .gitlab-ci.yml
  data_transformation/dbt-gooddata/dbt_gooddata/args.py
  data_transformation/dbt-gooddata/dbt_gooddata/dbt_gooddata.py
  data_transformation/dbt_project.yml
  data_transformation/extract_load/config.py
  data_transformation/extract_load/config.yaml
  data_transformation/extract_load/databases/__init.py
  data_transformation/extract_load/databases/postgres.py
  data_transformation/extract_load/extract.py
  data_transformation/extract_load/libs/logger.py
  data_transformation/extract_load/libs/rest_api.py
  data_transformation/extract_load/load.py
  data_transformation/extract_load/requirements.txt
Due: extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Enable extract/load of subset of repositories
  .gitlab-ci.yml
  data_transformation/extract_load/args.py
  data_transformation/extract_load/config.yaml
  data_transformation/extract_load/extract.py
  data_transformation/extract_load/load.py
Due: extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Fix workspace arg in analytics phase
  .gitlab-ci.yml
Due: extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Update default dashboard filter
  analytics/gooddata_layouts/analytics_model/filter_contexts/simple_filter_context.yaml
Due: gooddata_dev, gooddata_staging, gooddata_prod

Use f string to mask token
  analytics/sdk_wrapper.py
  data_transformation/dbt-gooddata/dbt_gooddata/sdk_wrapper.py
Due: dbt_dev, gooddata_dev, dbt_staging, gooddata_staging, dbt_prod, gooddata_prod

Deploy analytics with dbt-gooddata plugin
  .gitlab-ci.yml
  analytics/args.py
  analytics/gooddata_load_metadata.py
  analytics/gooddata_store_metadata.py
  analytics/gooddata_tests.py
  analytics/logger.py
  analytics/requirements.txt
  analytics/sdk_wrapper.py
  data_transformation/dbt-gooddata/dbt_gooddata/args.py
  data_transformation/dbt-gooddata/dbt_gooddata/dbt/metrics.py
  data_transformation/dbt-gooddata/dbt_gooddata/dbt/tables.py
  data_transformation/dbt-gooddata/dbt_gooddata/dbt_gooddata.py
  data_transformation/gooddata_layouts/analytics_model/analytical_dashboards/github_overview.yaml
  data_transformation/gooddata_layouts/analytics_model/filter_contexts/simple_filter_context.yaml
  data_transformation/gooddata_layouts/analytics_model/metrics/contribution_-_count_of_commits.yaml
  data_transformation/gooddata_layouts/analytics_model/visualization_objects/created_commits_month.yaml
  data_transformation/gooddata_layouts/analytics_model/visualization_objects/days_to_solve_prs_week.yaml
  data_transformation/gooddata_layouts/analytics_model/visualization_objects/longest_unsolved_prs.yaml
  data_transformation/gooddata_layouts/analytics_model/visualization_objects/merged_prs_month.yaml
  data_transformation/gooddata_layouts/analytics_model/visualization_objects/number_of_solved_prs_user.yaml
  data_transformation/gooddata_layouts/analytics_model/visualization_objects/top_contributors.yaml
  data_transformation/models/commits/schema.yml
  data_transformation/models/pull_requests/schema.yml
  data_transformation/requirements.txt
Due: extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Polish analytics
  data_transformation/gooddata_layouts/analytics_model/analytical_dashboards/github_overview.yaml
  data_transformation/gooddata_layouts/analytics_model/filter_contexts/simple_filter_context.yaml
  data_transformation/gooddata_layouts/analytics_model/metrics/contribution_-_count_of_commits.yaml
  data_transformation/gooddata_layouts/analytics_model/metrics/contribution_-_count_of_pull_requests.yaml
  data_transformation/gooddata_layouts/analytics_model/visualization_objects/created_commits_month.yaml
  data_transformation/gooddata_layouts/analytics_model/visualization_objects/days_to_solve_prs_week.yaml
  data_transformation/gooddata_layouts/analytics_model/visualization_objects/longest_unsolved_prs.yaml
  data_transformation/gooddata_layouts/analytics_model/visualization_objects/merged_prs_month.yaml
  data_transformation/gooddata_layouts/analytics_model/visualization_objects/top_contributors.yaml
  data_transformation/gooddata_layouts/analytics_model/visualization_objects/top_contributors_pull_requests.yaml
  data_transformation/models/users/schema.yml
Due: dbt_dev, gooddata_dev, dbt_staging, gooddata_staging, dbt_prod

Adopt basic dbt filters
  data_transformation/dbt-gooddata/dbt_gooddata/dbt/metrics.py
  data_transformation/dbt-gooddata/dbt_gooddata/dbt/tables.py
  data_transformation/gooddata_layouts/analytics_model/analytical_dashboards/github_overview.yaml
  data_transformation/gooddata_layouts/analytics_model/filter_contexts/simple_filter_context.yaml
  data_transformation/gooddata_layouts/analytics_model/metrics/contribution_-_count_of_commits.yaml
  data_transformation/gooddata_layouts/analytics_model/metrics/contribution_-_count_of_merged_pull_requests.yaml
  data_transformation/gooddata_layouts/analytics_model/metrics/contribution_-_count_of_pull_requests.yaml
  data_transformation/gooddata_layouts/analytics_model/visualization_objects/merged_prs_month.yaml
  data_transformation/gooddata_layouts/analytics_model/visualization_objects/top_contributors_merged_pull_requests.yaml
  data_transformation/models/pull_requests/schema.yml
Due: dbt_dev, gooddata_dev, dbt_staging, gooddata_staging, dbt_prod

Add pull request draft attribute
  data_transformation/gooddata_layouts/analytics_model/visualization_objects/longest_unsolved_prs.yaml
  data_transformation/gooddata_layouts/analytics_model/visualization_objects/top_contributors_merged_pull_requests.yaml
  data_transformation/models/pull_requests/pull_requests.sql
  data_transformation/models/pull_requests/pull_requests_extract_json.sql
  data_transformation/models/pull_requests/schema.yml
Due: dbt_dev, gooddata_dev, dbt_staging, gooddata_staging, dbt_prod

Update DOC + update gitlab.ci rules based on new folder names
  .gitlab-ci.yml
  README.md
Due: extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Minor changes * extend README.md * add return type * change string to f-string
  src/dbt-gooddata/dbt_gooddata/dbt/metrics.py
  src/dbt-gooddata/dbt_gooddata/dbt/profiles.py
  src/dbt-gooddata/dbt_gooddata/dbt_gooddata.py
  src/dbt-gooddata/requirements.txt
Due: none

Simplify load.py execution
  .gitlab-ci.yml
Due: extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Rename workspaces
  .gitlab-ci.yml
Due: extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Polish dbt metric filter operators
  src/dbt-gooddata/dbt_gooddata/dbt/metrics.py
  src/models/pull_requests/schema.yml
Due: none

Add more complex GD metric, adopt in insights/dashboard
  src/gooddata_layouts/analytics_model/analytical_dashboards/github_overview.yaml
  src/gooddata_layouts/analytics_model/metrics/contribution_of_top_25_users_-_merged_pr.yaml
  src/gooddata_layouts/analytics_model/visualization_objects/contribution_of_top_25_users_per_repository.yaml
  src/gooddata_layouts/analytics_model/visualization_objects/merged_prs_month.yaml
Due: none

Fix contribution metric
  src/gooddata_layouts/analytics_model/metrics/contribution_of_top_25_users_-_merged_pr.yaml
Due: none

Fix bootstrap of DB schemas
  Dockerfile_psql
  README.md
  docker-compose.yaml
  fixtures/postgres/00_create_db_schema.sql
  src/profile/profiles.yml
Due: none

Fix days_to_solve metric format
  src/gooddata_layouts/analytics_model/metrics/contribution_of_top_25_users_-_merged_pr.yaml
  src/models/pull_requests/schema.yml
Due: none

Materialize one dbt metric
  src/models/avg_days_to_solve_per_week/avg_days_to_solve_per_week.sql
  src/models/pull_requests/schema.yml
  src/packages.yml
Due: none

Add repo stargazers/watches facts
  src/gooddata_layouts/analytics_model/analytical_dashboards/github_overview.yaml
  src/gooddata_layouts/analytics_model/metrics/contribution_-_stargazers.yaml
  src/gooddata_layouts/analytics_model/visualization_objects/contribution_stargazers.yaml
  src/models/repos/repos.sql
  src/models/repos/repos_extract_json.sql
  src/models/repos/schema.yml
Due: none

Replace custom extract_load with Meltano
  .gitlab-ci.yml
  docker-compose.yaml
  fixtures/postgres/00_create_db_schema.sql
  src/.dockerignore
  src/.gitignore
  src/Dockerfile_meltano
  src/dbt-gooddata/dbt_gooddata/dbt/profiles.py
  src/dbt_project.yml
  src/meltano.yml
  src/models/commits/commits.sql
  src/models/commits/commits_extract_json.sql
  src/models/commits/schema.yml
  src/models/pull_requests/pull_requests.sql
  src/models/pull_requests/pull_requests_extract_json.sql
  src/models/repos/repos.sql
  src/models/repos/repos_extract_json.sql
  src/models/users/users.sql
  src/profile/profiles.yml
  src/requirements-dbt.txt
Due: extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Redirect from PostgreSQL to Snowflake
  .gitlab-ci.yml
  src/dbt-gooddata/dbt_gooddata/args.py
  src/dbt-gooddata/dbt_gooddata/dbt/base.py
  src/dbt-gooddata/dbt_gooddata/dbt/metrics.py
  src/dbt-gooddata/dbt_gooddata/dbt/profiles.py
  src/dbt-gooddata/dbt_gooddata/dbt/tables.py
  src/dbt-gooddata/dbt_gooddata/dbt_gooddata.py
  src/dbt_project.yml
  src/meltano.yml
  src/models/commits/commits_extract_json.sql
  src/models/pull_requests/pull_requests.sql
  src/models/pull_requests/pull_requests_extract_json.sql
  src/models/repos/repos.sql
  src/packages.yml
  src/profile/profiles.yml
  src/requirements-dbt.txt
Due: extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Encode db_name before registering DS in GD
  .gitlab-ci.yml
  src/dbt-gooddata/dbt_gooddata/dbt_gooddata.py
Due: extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Migrate to bit.io PostgreSQL
  .gitlab-ci.yml
Due: extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Reformat meltano.yml
  src/meltano.yml
Due: none

Migrate from collaborators to contributors
  src/meltano.yml
  src/models/users/users.sql
Due: none

Fix primary key in pull requests
  src/models/pull_requests/pull_requests.sql
  src/models/pull_requests/pull_requests_extract_json.sql
  src/models/pull_requests/schema.yml
Due: none
